@import "../assets/reset.css";
@import "../css/fonts.css";
@import "../css/common.css";
@import "../css/components/main.css";
@import "../css/pages/projects.css";

* {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero-section {
    display: flex;
    justify-content: space-between;
}

.tech-stack-section ul {
    display: flex;
}

.projects-section .inner {
    display: flex;
    justify-content: space-between;
}
.projects-section .inner article {
    width: 30%;
}